/* https://stackoverflow.com/questions/37872788/why-when-i-float-right-the-background-color-disappears?rq=1 */
/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(https://3djungle.net/upload/resize_cache/iblock/826/400_400_1/82675ab29b1ab6020959fa3e6b52bf6b.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}
header{
    width: 65%;
    margin: 0 auto;
    border-bottom: 6px solid #EA8F27;
}
h1{
    color: #EA8F27;
}
.navbar{
    background: #17263E !important;
}
.navbar img{
    min-width: 100px;
    width: 8%;
    height: auto;
    padding-right: 25px;
}
.navbar-brand:hover, .navbar-brand:focus{
    color: #EA8F27 !important;
}
.navbar ul li a{
    color:  white !important;
    margin-left: 30px;
}
/* https://codepen.io/lesbaa/pen/dojGVL */
.box {
    position:relative;
    text-align: center;
    cursor: pointer;
  }
  
  .box::before, .box::after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: 0.5s;
  }
  .curmudgeon::before {
    border-bottom: 3px solid #EA8F27;
    border-left: 0;
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  .box:hover::after, .box:hover::before, .box:focus::after, .box:focus::before{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
/* Navigation End */
main{
    background-color: white;
    width: 65%;
    margin: 0 auto;
    padding: 20px 20px 25px 20px;
}
section{
    /* if change margin-bottom also change #mission */
    margin-bottom: 2em;
}
.jumbotron h2{
    text-align: center;
}
.jumbotron img{
    width: 25%;
    min-width: 225px;
    float: right;
}
.jumbotron article{
    padding-left: 3em;
}
#mission{
    width: 50%;
    background-color: #193156;
    color: white;
    padding: 1.5rem;
    margin: 0 auto;
    /* ################### */
    margin-bottom: 2em;
    /* ################### */
    border-radius: 18px
}
#mission h1{
    text-align: center;
}
#speakers .col{
    text-align: center;
}
#ticketPackages{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.btn-outline-primary{
    color: #EA8F27 !important;
    border-color: #EA8F27 !important;
}
.btn-outline-primary:hover{
    background-color: #EA8F27 !important;
    color: white !important;
}
footer{
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #17263E;
}
footer p{
    margin: 0;
}



@media only screen and (max-width: 992px){
    body{
        background: none;
        width: 100;
        margin: auto;
    }
    header{
        width: 100%;
        margin: auto;
    }
    .navbar ul li a{
        margin-left: 0;
    }
    main{
    width: 100%;
    }
    section{
        padding-left: 0;
        padding-right: 0;
    }
    .jumbotron img{
        float: none;
        margin: 0 auto;
        display: block
    }
    #mission{
        width: 100%;
    }
    
    .box{
        border: none;
        transition: none;
    }
}